@font-face{
    font-family: "Lato-Regular";
    src: url(.//../fonts/Lato-Regular.ttf);
    font-weight: 400;
}

@font-face{
    font-family: "Lato-Bold";
    src: url(../../fonts/Lato-Bold.ttf);
    font-weight: 700;
}