.banner{
    width: 100%;
    background-image: url(../../images/img/banner-img.png);
    background-size: cover;
    height: 782px;
    @include flexCenter;
    text-align: center;
    position: relative;

    @include media(993){
        height: 700px;
    }
    
    @include media(768){
        height: 600px;
    }

    @include media(576){
        height: 500px;
    }

    @include media(420){
        height: 450px;
    }
    
    &-info {
        position: relative;
        z-index: 4;
        @include flex;
        flex-direction: column;
        row-gap: 39px;

        @include media(993){
            row-gap: 30px;
        }

        @include media(768){
            row-gap:20px ;
        }

        @include media(576){
            row-gap:15px ;
        }


    &_title{
        color:$light;
        font-family: $LB;
        font-size: $xl;
        letter-spacing: 3.6px;
        text-transform: uppercase;

        @include media(993){
            font-size: 60px;
        }

        @include media(768){
            font-size:50px ;
        }

        @include media(576){
            font-size:40px ;
        }

        @include media(375){
            font-size:35px ;
        }

        @include media(350){
            font-size:30px ;
        }
    }

    &_text {
        color:$light;
        text-align: center;
        font-family: $LB;
        font-size: 24px;
        line-height: 150%;
        max-width: 500px;
        width: 100%;

        @include media(993){
            font-size:20px ;
        }

        @include media(768){
            font-size:16px ;
        }

        @include media(576){
            font-size:14px ;
        }
    }

    &_btn{
        padding: 16px 52px ;
        border-radius: 6px;
        background: $light;
        color: $primary;
        font-family: $LB;
        font-size: $sm;
        text-transform: uppercase;
        transition: 0.4s;

        &:hover {
            transform: scale(1.1);
            cursor: pointer;
        }

        @include media(768) {
            padding: 14px 40px;
        }

        @include media(375) {
            padding: 14px 30px;
            font-size: $xs;
        }
    }
    }

    &::after{
        content: "";
        width: 100%;
        height: 100%;
        background: linear-gradient(
        90deg,
        rgba(213,32,71,0.8) 0%,
        rgba(238,61,27,0.8)100%
    );
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;



    }

}