// Colors
$primary:#ed4c5c;
$secondary:#000000;
$light:#fff;
$gray:#FAFAFA;


// Font-sizes

$xs:12px;
$sm:14px;
$normal:16px;
$md:18px;
$lg:36px;
$xl:72px;

//Font-famliy

$LR: "Lato-Regular" ;
$LB: "Lato-Bold"

